*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.padre_principal_centrado{
    background:rgb(15, 15, 15);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.box_form{
    background:rgb(207, 207, 207);
    box-shadow:0 0 15px rgba(214, 214, 214, 0.705);
    padding:25px;
    border-radius:15px;
    width: 400px;
    
    text-align: center;
}
.input_text{
    background:rgba(102, 102, 102, 0.37);
    display:inline-block;
    width: 80%;
    margin: 5px auto;
    border: none;
    border-radius:10px;
    padding: 2px 10px;
    outline: none;
}
.boton_submit{
    width: 80%;
    border:none;
    border-radius: 20px;
    margin: 5px auto;
    padding: 2px 10px;
}
.boton_submit:hover{
    background: rgb(62, 255, 245);
    cursor: pointer;
}
.cont{
    text-align: end;
    margin: 0 auto;

}
.cont-mensaje{
    display: block;
    text-align: left;
}
.form_label{
    text-align: left;
    margin-right: 10px;
}
.input_textarea{
    width:350px;
    height:100px;
    max-height: 55vh;
    
    resize:vertical;
}